@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.nav {
  padding: 2rem 2rem; // top-bot, left-right
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  @include tablet {
    flex-direction: row;
  }
}

// image and text for logo
.nav__logo {
  display: flex;
  // have logo and text be inline with each other
  align-items: center;
  color: $GameFinder-Purple-200;
  @include page-header;
}

// Additional styling: keep seperate for now
// image and text for logo
.nav__logo {
  padding-bottom: 0.5rem; // Add some space between the logo and the border
  border-bottom: 2px solid $GameFinder-Aqua; // Add bottom border with Aqua color
  transition: all 0.3s ease-in-out; // Smooth transition for hover effect

  // Hover effect to change color and scale the logo
  &:hover {
    color: $GameFinder-Aqua; // Change text color to Aqua on hover
    transform: scale(1.05); // Slight zoom effect on hover
  }

  // Add a small logo image in future (image instead of text)
  img {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }
}
