// Required Bootstrap Imports
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/tables"; // table of games
@import "bootstrap/scss/forms"; // for search header
@import "bootstrap/scss/buttons"; // for button (optional)

// Import personal partials
@import "../../styles/partials/global";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

// Center the main container
.main-container {
  // background-color: $night-fg;
  display: flex;
  justify-content: center; // Horizontally center the content
  // align-items: center; // Vertically center the content
  // height: 100vh; // Full viewport height
  width: 100%; // Ensure full width for main container
}

.gameList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Start at the top of the container
  width: 100%; // Ensure full width inside main container

  // Set max-width for mobile and tablet using variables
  max-width: $mobile-max-width;
  @include tablet {
    max-width: $tablet-max-width;
  }

  // Styles for the header section
  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.25rem;
    // border-bottom: 0 0 8px 2px $GameFinder-Aqua;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .title {
    font-size: 24px;
    margin: 0;
    @include subheader;
  }

  .searchHeader {
    flex-grow: 1;
    max-width: 100%;

    @include tablet {
      max-width: 60%;
    }

    &__form {
      width: 100%;
    }

    &__input {
      padding: 0.625rem;
      @include labels-links-buttons;
      border-radius: 1.25rem;
      width: 100%;
      padding-left: 2rem;
      border: 0;
      outline: solid 0.0625rem $Cloud;
      background: url("../../assets/icons/search-24px.svg") no-repeat left
        center;
      background-position: right 1rem center;
      color: $GameFinder-Purple-200;

      &:focus {
        outline: solid 0.125rem $GameFinder-Purple-1-button;
        background: none;
      }

      &::placeholder {
        color: $Slate;
      }

      transition: all 0.5s;
    }
  }

  // Keep Bootstrap styles for table and button
  .table {
    @extend .table;
    background-color: $night-fg;
    border-radius: 2rem;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 1px 4px $GameFinder-Aqua;

    // so square corners don't go beyond table
    overflow: hidden;

    // border-collapse: separate; // Ensures rounded corners work on rows
    @extend .table-striped;
    @extend .table-hover;
    td {
      vertical-align: middle; // Center text vertically
      // border-radius: 2rem;
      // border-radius: 0;
    }
    th {
      // background-color: $GameFinder-Aqua;
      // color: #fff;
      // font-weight: bold;

      // Add bottom border to header
      border-bottom: 0.1rem solid $GameFinder-Aqua;
    }

    tbody tr {
      transition: all 0.3s ease-in-out;
      // border-radius: 2rem; // Ensure row itself has rounded corners
      // border-radius: 2rem;
    }

    tbody tr:hover {
      background-color: $GameFinder-Aqua;
      color: black;
      cursor: pointer;
      transform: translateY(-2px);
    }
  }

  .button {
    @extend .btn;
    @extend .btn-primary;
  }

  // Style for the game art image
  .gameArt {
    width: 107px;
    height: 40px;
    object-fit: cover; // Ensure the image is properly scaled within the container
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.table-sm {
  padding: 0;
}
