@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.app-body {
  margin: 0 auto;
  min-height: 100vh;
}

.footer {
  position: relative;
  padding: 2rem 0;
  // top: -2rem;
  // z-index: 0; // Place below the header if needed

  display: flex;
  justify-content: center;

  @include body-small {
    color: $GameFinder-Purple-100;
  }
}
