@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.app-container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $night-bg;
  color: $GameFinder-Purple-200;

  @include responsive-margin;
}

main {
  flex: 1;
  // padding-bottom: 3rem; // Add padding to ensure space for the footer
}

// Remove any max-width constraints on main container elements
// .container {
//   max-width: none;
//   width: 100%;
// }

.footer {
  position: relative;
  padding: 2rem 0;
  // top: -2rem;
  // z-index: 0; // Place below the header if needed

  display: flex;
  justify-content: center;

  margin-bottom: 2rem;

  @include body-small {
    color: $GameFinder-Purple-100;
  }
}
